<a href="https://colab.research.google.com/github/ValeriyMartsyshyn/-last_project/blob/main/Sofia_M_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas --upgrade

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
student_por = pd.read_csv('student-por.csv')

In [ ]:
student_por

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1       GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2       GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3       GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4       GP   F   16       U     GT3       T  ...     2       5        0  11  13  13
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
644     MS   F   19       R     GT3       T  ...     2       5        4  10  11  10
645     MS   F   18       U     LE3       T  ...     1       1        4  15  15  16
646     MS   F   18       U     GT3       T  ...     1       5        6  11  12   9
647     MS   M   17       U     LE3       T  ...     4       2        6  10  10  10
648     MS   M   18       R     LE3       T  ...     4       5        4  10  11  11

[649 rows x 33 columns]

In [ ]:
student_ab = student_por.sort_values('absences', ascending = False).head(10)
student_ab

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
197     GP   F   17       U     LE3       T  ...     3       1       32  14  13  14
212     GP   F   17       U     GT3       T  ...     3       2       30  14  15  16
256     GP   M   18       U     GT3       T  ...     2       1       26   7   8   8
150     GP   F   15       U     GT3       A  ...     3       1       24   9   8   9
325     GP   M   17       U     LE3       A  ...     4       5       22  11  11  10
155     GP   M   17       U     GT3       T  ...     2       5       22   9   7   6
217     GP   F   17       R     GT3       T  ...     2       3       21  13  13  13
413     GP   M   21       R     LE3       T  ...     2       4       21   9  10  10
253     GP   F   18       U     LE3       A  ...     1       3       18  10  10  10
326     GP   M   17       U     LE3       A  ...     4       3       18  13  13  13

[10 rows x 33 columns]

In [ ]:
student_por['diff'] = student_por['G1'] - student_por['G2'] - student_por['G3']
student_por

    school sex  age address famsize Pstatus  ...  health  absences  G1  G2  G3 diff
0       GP   F   18       U     GT3       A  ...       3         4   0  11  11  -22
1       GP   F   17       U     GT3       T  ...       3         2   9  11  11  -13
2       GP   F   15       U     LE3       T  ...       3         6  12  13  12  -13
3       GP   F   15       U     GT3       T  ...       5         0  14  14  14  -14
4       GP   F   16       U     GT3       T  ...       5         0  11  13  13  -15
..     ...  ..  ...     ...     ...     ...  ...     ...       ...  ..  ..  ..  ...
644     MS   F   19       R     GT3       T  ...       5         4  10  11  10  -11
645     MS   F   18       U     LE3       T  ...       1         4  15  15  16  -16
646     MS   F   18       U     GT3       T  ...       5         6  11  12   9  -10
647     MS   M   17       U     LE3       T  ...       2         6  10  10  10  -10
648     MS   M   18       R     LE3       T  ...       5         4  10  11  11  -12

[649 rows x 34 columns]

In [ ]:
total_studytime = student_por['studytime'].sum()
total_studytime

1253

In [ ]:
student_por.sample(5)

    school sex  age address famsize Pstatus  ...  health  absences  G1  G2  G3 diff
577     MS   M   19       R     GT3       T  ...       2         8  10   9  11  -10
25      GP   F   16       U     GT3       T  ...       5         6  10  11  12  -13
497     MS   M   17       U     GT3       T  ...       5         0  10  11  10  -11
273     GP   F   17       U     GT3       T  ...       5        10  11  11  11  -11
198     GP   F   16       U     GT3       T  ...       1         8  14  15  16  -17

[5 rows x 34 columns]

In [ ]:
high_health = student_por[student_por.health < 2].sort_values('address', ascending = True)
high_health

    school sex  age address famsize Pstatus  ...  health  absences  G1  G2  G3 diff
510     MS   F   17       R     GT3       T  ...       1         0  15  17  17  -19
483     MS   F   16       R     GT3       T  ...       1         1   9  10  11  -12
509     MS   F   16       R     LE3       T  ...       1         0  16  17  18  -19
168     GP   M   15       R     GT3       T  ...       1         0   7   8   8   -9
478     MS   F   16       R     GT3       T  ...       1         0   7   7   8   -8
..     ...  ..  ...     ...     ...     ...  ...     ...       ...  ..  ..  ..  ...
216     GP   F   17       U     GT3       T  ...       1         0  14  15  15  -16
198     GP   F   16       U     GT3       T  ...       1         8  14  15  16  -17
197     GP   F   17       U     LE3       T  ...       1        32  14  13  14  -13
361     GP   M   19       U     GT3       T  ...       1         9  11  10  10   -9
645     MS   F   18       U     LE3       T  ...       1         4  15  15  16  -16

[90 rows x 34 columns]

In [ ]:
calcul = student_por[student_por.Pstatus == 'A'][['G1', 'G2', 'G3']].sum()
calcul

G1    903
G2    914
G3    953
dtype: int64

In [ ]:
total_travel_time = student_por['traveltime'].sum()
total_study_time = student_por['studytime'].sum()
total_travel_time_to_study_time = total_travel_time/total_study_time

total_travel_time_to_study_time

0.8124501197126895